$color-white: #FFFFFF;
$color-black: #000000;
$color-black405: #010405;
$color-black603: #0A0603;
$color-grey867: #6B6867;
$color-orangd1a: #DA5D1A;
$color-orang534: #d37534;
$color-orang154: #CC6154;
$screen-s: 767px;